/*
	* not required *
*/
/*
 *  Plugin Name: Responsive Advert Slider v1.0
 *  Author: Nazneen Shaik
 *  Date: 2015.11
 *  Description: General demo scss file.
 */

body{
	margin:0px auto;
	font-family: 'Open Sans', sans-serif;
	color: #4c4c4c;
	@media (max-width:767px){
		width: 100%;
	}
}
.banner{
	background: #038FA0;
	color: #B3F9FF;
	padding: 20px;
	text-align: center;
	font-size: 25px;
	margin-top: 10px;
	font-weight: 600;
	margin-bottom: 40px;
	@media(max-width: 767px){
		font-size: 1.2em;
	}
}
.footer{
	background: #343434;
	color: #fff;
	padding: 15px;
	text-align: right;
	margin-top: 20px;
	span{
		color: #FFD802;
		font-weight: 600;
		font-size: 20px;
		padding-left: 5px;
	}
}
.how_to_use{
	border-top:5px solid #ddd;
	h3{
		width: auto;
		text-align: center;
		font-size: 30px;
		span{
			display: inline-block;
			padding: 15px 35px;
			background:#ddd;
		}
		@media(max-width: 767px){
			font-size: 1.2em;
		}
	}
	ol{
		width: 70%;
		margin: 0px auto;
		margin-top: 25px;
		@media(max-width: 767px){
			width: 100%;
		}
		li{
			padding: 10px;
			font-size: 18px;
		}
	}
}
/*
	* not required *
*/


/* *************************************************************************
	***************************** copy form here *****************************
 ***************************************************************************
*/

.slider_container{
	box-sizing:border-box;
	padding: 20px;
	@media (max-width: 767px){
		padding: 0px;
	}
}

.advert_slider_wrap{
	overflow: hidden;
	position: relative;
	margin-bottom: 20px;
	.links_icon_set{
		position: absolute;
		bottom: 0px;
		width: 100%;
		left: 0px;
		text-align: center;
		transition:0.4s;
		z-index: 100;
		&:hover{
			background: rgba(255,255,255,0.3);
			transition:0.4s;
		}
		ul{
			margin: 0px;
			padding: 0px;
			li{
				display: inline-block;
				padding: 5px;
				list-style: none;
				.item_each{
					cursor: pointer;
					width: 10px;
					height: 10px;
					border:2px solid #666;
					border-radius:50%;
					background: #ddd;
					display: inline-block;
				}
				&.active{
					.item_each{
						background: #666;
					}
				}
			}
		}
	}
}
.advert_slider{
	height: 400px;
	position: relative;
	left: 0px;
	.img_wrap{
		height: 400px;
		text-align: center;
		border:1px solid #e1e1e1;
		float: left;
		//margin-right: 15px;
		img{
			height: 398px;
			vertical-align: middle;
			width: 100%;
		}
	}
}
.advert_div{
	margin-top: 20px;
	border:1px solid #e1e1e1;
	margin-bottom: 30px;
	img{
		max-width: 100%;
		height: auto;
		display: block;
	}
}